{{template "leading-trivia" .LeadingTrivia -}}
{{template "notes" .Notes -}}
type {{.Name}} int

const (
{{- range $i, $v := .Values}}
{{- if eq $i 0}}
{{$.Name}}{{$v}} {{$.Name}} = iota
{{- else}}
{{$.Name}}{{$v}}
{{- end}}
{{- end}}
)
