{{template "doc-comment" .LeadingTrivia -}}
{{template "doc-comment" .Notes -}}
type {{.Name}} int {{template "trailing-comment" .TrailingTrivia}}

const (
{{- range $i, $v := .Values}}
{{- if eq $i 0}}
{{$.Name}}{{$v}} {{$.Name}} = iota
{{- else}}
{{$.Name}}{{$v}}
{{- end}}
{{- end}}
)
