{{template "doc-comment" .LeadingTrivia -}}
{{template "doc-comment" .Notes -}}
type {{.Name}} int {{template "trailing-comment" .TrailingTrivia}}

const (
{{- range $i, $c := .Cases}}
    {{template "doc-comment" .LeadingTrivia -}}
    {{template "doc-comment" .Notes -}}
	{{$c.Name}}{{if eq $i 0}} {{$.Name}} = iota{{end}}{{template "trailing-comment" .TrailingTrivia}}
{{- end}}
)

