package {{.PackageName}}

{{if .Imports}}
import (
{{range .Imports}}
    "{{.}}"
{{end}}
)
{{end}}

{{range .Enums}}
{{template "enum.go.tmpl" .}}
{{end}}

{{range .Interfaces}}
{{template "interface.go.tmpl" .}}
{{end}}

{{range .Structs}}
{{template "struct.go.tmpl" .}}
{{end}}

