{{template "doc-comment" .PackageComments -}}
package {{.PackageName}}

{{if .Imports}}
import (
{{- range .Imports}}
	"{{.}}"
{{- end}}
)
{{end}}

{{range .Variables}}
{{template "doc-comment" .LeadingTrivia -}}
{{template "doc-comment" .Notes -}}
var {{.Name}} {{.Type}}{{template "trailing-comment" .TrailingTrivia}}
{{end}}

{{range .Enums}}
{{template "enum.go.tmpl" .}}
{{end}}

{{range .Interfaces}}
{{template "interface.go.tmpl" .}}
{{end}}

{{range .Structs}}
{{template "struct.go.tmpl" .}}
{{end}}

{{range .Functions}}
{{template "doc-comment" .LeadingTrivia -}}
{{template "doc-comment" .Notes -}}
func {{.Name}}{{.Signature}} { {{- template "trailing-comment" .TrailingTrivia}}
    panic("not implemented")
}
{{end}}

{{template "doc-comment" .FileNotes}}



