{{range .LeadingTrivia}}
// {{.}}
{{- end}}
{{range .Notes}}
// NOTE: {{.}}
{{- end}}
type {{.Name}}{{if .Generics}}[{{- range $i, $g := .Generics}}{{if gt $i 0}}, {{end}}{{.Name}} {{.Constraint}}{{- end}}]{{end}} interface {
{{- range .Embeds}}
	{{.}}
{{- end}}
{{- range .Methods}}
	{{- range .LeadingTrivia}}
	// {{.}}
	{{- end}}
	{{- range .Notes}}
	// NOTE: {{.}}
	{{- end}}
	{{.Name}}{{.Signature}}
{{- end}}
}
