{{template "leading-trivia" .LeadingTrivia -}}
{{template "notes" .Notes -}}
type {{.Name}}{{template "generic-type-params" .Generics}} interface {
{{- range .Embeds}}
	{{.}}
{{- end}}
{{- range .Methods}}
    {{template "leading-trivia" .LeadingTrivia -}}
    {{template "notes" .Notes -}}
	{{.Name}}{{.Signature}}
{{- end}}
}
