{{template "doc-comment" .LeadingTrivia -}}
{{template "doc-comment" .Notes -}}
type {{.Name}}{{template "generic-type-params" .Generics}} interface {
{{- range .Embeds}}
	{{.}}
{{- end}}
{{- range .Methods}}
    {{template "doc-comment" .LeadingTrivia -}}
    {{template "doc-comment" .Notes -}}
	{{.Name}}{{.Signature}}{{template "trailing-comment" .TrailingTrivia}}
{{- end}}
}
