{{range .LeadingTrivia}}
// {{.}}
{{- end}}
{{range .Notes}}
// NOTE: {{.}}
{{- end}}
type {{.Name}}{{if .Generics}}[{{- range $i, $g := .Generics}}{{if gt $i 0}},{{end}} {{.Name}} {{.Constraint}}{{- end}}]{{end}} {
{{- range .Embeds}}
	{{.}}
{{- end}}
{{- range .Fields}}
	{{- range .LeadingTrivia}}
	// {{.}}
	{{- end}}
	{{- range .Notes}}
	// NOTE: {{.}}
	{{- end}}
	{{.Name}} {{.Type}}{{if .TrailingTrivia}} // {{range $i, $t := .TrailingTrivia}}{{if gt $i 0}} {{end}}{{$t}}{{end}}{{end}}
{{- end}}
}

{{- range .Implements}}
var _ {{.}} = (*{{$.Name}})(nil)
{{- end}}

{{- range .Methods}}
{{range .LeadingTrivia}}
// {{.}}
{{- end}}
{{range .Notes}}
// NOTE: {{.}}
{{- end}}
func (s *{{$.Name}}) {{.Name}}{{.Signature}} {
    panic("not implemented")
}
{{- end}}
