{{template "doc-comment" .LeadingTrivia -}}
{{template "doc-comment" .Notes -}}
type {{.Name}}{{template "generic-type-params" .Generics}} struct {
{{- range .Embeds}}
	{{.}}
{{- end}}
{{- range .Fields}}
    {{template "doc-comment" .LeadingTrivia -}}
    {{template "doc-comment" .Notes -}}
	{{.Name}} {{.Type}}{{template "trailing-comment" .TrailingTrivia}}
{{- end}}
}

{{- range .Implements}}
var _ {{.}} = (*{{$.Name}})(nil)
{{- end}}

{{- range .Methods}}
{{template "doc-comment" .LeadingTrivia -}}
{{template "doc-comment" .Notes -}}
func (s *{{$.Name}}{{template "generic-reciever-type-params" $.Generics}}) {{.Name}}{{.Signature}} {
    panic("not implemented")
}
{{- end}}
